<footer>
    <ul>
        <li><a href="#">become member</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Contact us</a></li>
        
    </ul>
    <span>
        <a href="http://github.com/paulp111">&copy; Paul Pichler</a>
    </span>
</footer>
</body>
</html>